<h1>Editar Objetivo</h1>
<mat-divider></mat-divider>

<form #objetivoForm="ngForm" (ngSubmit)="onSubmit(objetivoForm)" class="py-2">
  <input type="hidden" name="objetivoId" id="objetivoId" [(ngModel)]="objetivo.objetivoId" />

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Descrição do Objetivo</mat-label>
    <input matInput id="descricao" name="descricao" type="text" [(ngModel)]="objetivo.descricao">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Valor a Atingir</mat-label>
    <input matInput id="valorAtingir" name="valorAtingir" type="number" [(ngModel)]="objetivo.valorAtingir">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Moeda</mat-label>
    <input matInput id="moeda" name="moeda" type="text" [(ngModel)]="objetivo.moeda">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Data de Início e Data Final (DD/MM/AAAA – DD/MM/AAAA)</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Data Início" id="dataInicio" name="dataInicio" [(ngModel)]="objetivo.dataInicio">
      <input matEndDate placeholder="Data Fim" id="dataFim" name="dataFim" [(ngModel)]="objetivo.dataFim">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker startView="year" #picker></mat-date-range-picker>
  </mat-form-field>

  <div class="form-group">
    <button mat-raised-button type="submit">Guardar</button>
    <a mat-raised-button routerLink="/objetivos-list">Voltar</a>
  </div>
</form>

