<h4>Editar Objetivo.</h4>

<form #objetivoForm="ngForm" (ngSubmit)="onSubmit(objetivoForm)">
  <!-- <div class="form-group>">
    <label for="objetivoId">Id do Objetivo:</label>
  <input ngModel name="objetivoId" #objetivoId="ngModel" id="objetivoId" type="number" class="form-control" />
  </div> -->
  <div class="form-group>">
    <label for="descricao">Descrição:</label>
    <input ngModel name="descricao" #descricao="ngModel" id="descricao" type="text" class="form-control" />
  </div>
  <div class="form-group">
    <label for="valorAtingir">Valor a Atingir:</label>
    <input ngModel name="valorAtingir" id="valorAtingir" #valorAtingir="ngModel" type="number" class="form-control" />
  </div>
  <div class="form-group">
    <label for="moeda">Moeda:</label>
    <input ngModel name="moeda" id="moeda" #moeda="ngModel" type="text" class="form-control" />
  </div>
  <!-- <div class="form-group">
    <label for="valorAcumulado">Valor Acumulado:</label>
  <input ngModel name="valorAcumulado" id="valorAcumulado" #valorAcumulado="ngModel" type="number" class="form-control" />
  </div> -->
  <div class="form-group">
    <label for="dataInicio">Data de Inicio:</label>
    <input ngModel name="dataInicio" id="dataInicio" #dataInicio="ngModel" type="date" class="form-control" />
  </div>
  <div class="form-group">
    <label for="dataFim">Data Final:</label>
    <input ngModel name="dataFim" id="dataFim" #dataFim="ngModel" type="date" class="form-control" />
  </div>



  <div class="form-group" style="margin-left:37%">
    <button mat-raised-button type="submit">Editar</button>
    <button mat-raised-button type="button" routerLink="/objetivos-list">Voltar</button>
  </div>

</form>
