<h1 style="text-align: center"><b>Editar Orçamento</b></h1>
<form #orcamentoForm="ngForm" class="example-form" (ngSubmit)="onSubmit(orcamentoForm)">
  <input type="hidden" name="orcamentoId" id="orcamentoId" [(ngModel)]="orcamento.orcamentoId" />
  <mat-form-field appearance="fill">
    <mat-label>Data de Início</mat-label>
    <input matInput [matDatepicker]="pickerInicio" id="dataInicio" name="dataInicio" [(ngModel)]="orcamento.dataInicio" required>
    <mat-hint>DD/MM/AAAA</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
    <mat-datepicker #pickerInicio></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Data de Fim</mat-label>
    <input matInput [matDatepicker]="pickerFim" id="dataFim" name="dataFim" [(ngModel)]="orcamento.dataFim" required>
    <mat-hint>DD/MM/AAAA</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="pickerFim"></mat-datepicker-toggle>
    <mat-datepicker #pickerFim></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Descrição</mat-label>
    <textarea ngModel name="descricao" [(ngModel)]="orcamento.descricao" id="descricao" matInput placeholder="Qual a finalidade do orçamento?" required></textarea>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Valor</mat-label>
    <input ngModel name="valor" id="valor" [(ngModel)]="orcamento.valor" min="0" matInput type="number" required>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Moeda</mat-label>
    <input ngModel name="moeda" id="moeda" [(ngModel)]="orcamento.moeda" placeholder="EUR" matInput type="text" required>
  </mat-form-field>
  <div class="form-group" style="margin-left:37%">
    <button mat-raised-button type="submit">Editar</button>
    <button mat-raised-button type="button" routerLink="/orcamento-details/{{orcamento.orcamentoId}}">Voltar</button>
  </div>
</form>
