<p *ngIf="!contas"><em>Não tem nenhuma conta registada...</em></p>

<a routerLink="/conta-create" class="btn btn-success">Criar Conta</a>

<div *ngIf="contas">
  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Conta Id</th>
        <th>Descrição</th>
        <th>Saldo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let conta of contas; let i = index" (click)="selectedAccountFillTransactions(conta.contaId)" class="colorRow" [class.highlighted]="conta.contaId === contaIdSelecionada">
        <td>{{ conta.contaId }}</td>
        <td>{{ conta.descricao }}</td>
        <td>{{ conta.saldo }} {{ conta.moeda }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <app-transacoes-list [transacoes]=transacoes></app-transacoes-list>
</div>

